.book

    &__name
        display inline-block
        padding 1em

    &__original
        font-style italic


    &__blocktitle
        font-style italic

    &__title
        margin 0

        &_original
            margin-bootom -0.3em

    &__body
        padding 1em

    &__image
        width 100px
        padding 0.5em

    &__caption
        padding 1em

    &__comment
        padding 1em

    &__section
        display inline-block
        vertical-align top
