.cover
    height 23vw
    background-position 50%
    background-repeat no-repeat
    color white
    font-size 4vw
    padding 1em
    box-sizing border-box
    background-size cover

    &_photo
        background-image url(/images/index/cover-photo.jpg)

    &__link
        color inherit

    &_black
        color #231F20
