.cover
    height 35vw
    background-position 50%
    background-repeat no-repeat
    padding 1em
    box-sizing border-box
    background-size cover

    &_photo
        background-image url(/images/index/cover-photo.jpg)

    &__link
        color #282520
        font-size 4vw
        text-decoration none
        font-family Georgia, "Times New Roman", Times, serif
        background #fff
        padding-bottom 0.4vw



    &_black
        color #231F20
