.feed

    &__item

        &_compact
            display: inline-block

    &__image
        padding 1em

        &_compact
            width 75px

        &_full
            width 100px

    &__body
        display: inline-block
        vertical-align top
        width calc(100% - 100px - 2*1em)
