.layout
    margin 0 auto
    min-height 100%
    position relative

    &__col
        display inline-block
        vertical-align top

        &_size

            &_s
                width 350px

            &_l
                width calc(100% - 400px)
                max-width 1600px
                min-width 350px

            &_50p
                width 50%

                @media screen and (max-width 550px)
                    width 100%

            &_35p
                width 35%

                @media screen and (max-width 550px)
                    width 100%

            &_65p
                width 65%

                @media screen and (max-width 550px)
                    width 100%

        &_np
            padding 0 !important

        &_center
            text-align center

        &_left
            text-align left


        @media screen and (max-width 550px)
            display block
