.layout
    margin 0 auto
    min-height 100%
    position relative

    &__col
        padding 0 10px
        display inline-block
        vertical-align top

        &_size

            &_s
                width 350px

            &_l
                width calc(100% - 400px)
                max-width 1600px
                min-width 350px

            &_50p
                width 50%

        &_np
            padding 0 !important
