.nav
    font-size 1.16em

    &__title
        display inline-block
        font inherit
        margin 0
        padding 0

    &__link
        padding 1em
        color #0101BF
        fill #0101bf

        &:first-child
            padding-left 0

        &_active
            text-decoration none
            color inherit
            fill red

        &_home
            text-decoration none
            color #000

            /*&:hover*/
                /*fill red*/
