.nav
    &__link
        padding 1em

        &_active
            text-decoration none
            color inherit

        &_home
            text-decoration none

            &:hover
                fill red
