.nav
    &__link
        padding 1em
        color #0101BF

        &:first-child
            padding-left 0

        &_active
            text-decoration none
            color inherit
            fill red

        &_home
            text-decoration none
            color #000

            /*&:hover*/
                /*fill red*/
