.page
    font-family "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size 16px
    margin 0
    color #222
    //line-height 1.5em

    &__content
        width 90%
        margin 0 auto
        padding 0 1em

        @media (max-width 992px)
            width 90%
