.title
    font-family "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif
    font-weight: normal;

    &_h1
        font-size 2.3em

    &_h2
        font-size 1.9em

    &_h3
        font-size 1.65em
