@font-face {
    font-family 'Source Sans Pro'
    src local('Source Sans Pro')
    src url(http://cdn.wordfly.org/font/sourcesanspro-regular-webfont.woff2) url(http://cdn.wordfly.org/font/sourcesanspro-regular-webfont.woff) url(http://cdn.wordfly.org/font/sourcesanspro-regular-webfont.ttf)
}

@font-face {
    font-family 'Source Sans Pro Bold'
    src local('Source Sans Pro Bold')
    font-weight bold
    src url(http://cdn.wordfly.org/font/sourcesanspro-bold-webfont.woff2) url(http://cdn.wordfly.org/font/sourcesanspro-bold-webfont.woff) url(http://cdn.wordfly.org/font/sourcesanspro-bold-webfont.ttf)
}

@import 'styles/*'

p
    line-height 1.55em

    @media (max-width 700px)
        line-height 1.35em
