@font-face
    font-family 'Source Sans Pro'
    src local('Source Sans Pro'), url(https://get.worldfly.org/storage/fonts/sourcesanspro-regular.woff2), url(https://get.worldfly.org/storage/fonts/sourcesanspro-regular.woff), url(https://get.worldfly.org/storage/fonts/sourcesanspro-regular.ttf), url(https://get.worldfly.org/storage/fonts/sourcesanspro-regular.svg#source_sans_proregular)

@font-face
    font-family 'Source Sans Pro Bold'
    src local('Source Sans Pro Bold')
    font-weight bold
    font-style normal
    src url(https://get.worldfly.org/storage/fonts/sourcesanspro-bold.woff2), url(https://get.worldfly.org/storage/fonts/sourcesanspro-bold.woff), url(https://get.worldfly.org/storage/fonts/sourcesanspro-bold.ttf), url(https://get.worldfly.org/storage/fonts/sourcesanspro-bold.svg#source_sans_probold)

@font-face
    font-family 'Source Sans Pro Italic'
    font-weight normal
    font-style italic
    src local('Source Sans Pro Italic')
    src url(https://get.worldfly.org/storage/fonts/sourcesanspro-italic.woff2), url(https://get.worldfly.org/storage/fonts/sourcesanspro-italic.woff), url(https://get.worldfly.org/storage/fonts/sourcesanspro-italic.ttf), url(https://get.worldfly.org/storage/fonts/sourcesanspro-italic.svg#source_sans_proitalic)

@import 'blocks/*/*.styl'

body
    margin 0

p
    line-height 1.55em

    //@media (max-width 700px)
    //    line-height 1.35em
