@font-face
    font-family 'Source Sans Pro'
    src local('Source Sans Pro')
    font-weight normal
    font-style normal
    src url(http://cdn.worldfly.org/font/sourcesanspro-regular-webfont.woff2) url(http://cdn.worldfly.org/font/sourcesanspro-regular-webfont.woff) url(http://cdn.worldfly.org/font/sourcesanspro-regular-webfont.ttf)


@font-face
    font-family 'Source Sans Pro'
    src local('Source Sans Pro Bold')
    font-weight bold
    font-style normal
    src url(http://cdn.worldfly.org/font/sourcesanspro-bold-webfont.woff2) url(http://cdn.worldfly.org/font/sourcesanspro-bold-webfont.woff) url(http://cdn.worldfly.org/font/sourcesanspro-bold-webfont.ttf)

@font-face
    font-family 'Source Sans Pro'
    font-weight normal
    font-style italic
    src local('Source Sans Pro Italic')
    src url(http://cdn.worldfly.org/font/sourcesanspro-it-webfont.woff2) url(http://cdn.worldfly.org/font/sourcesanspro-it-webfont.woff) url(http://cdn.worldfly.org/font/sourcesanspro-it-webfont.ttf)

@import 'styles/*'

p
    line-height 1.55em

    //@media (max-width 700px)
    //    line-height 1.35em
